body{
  background-color:black;
  font-family: Arial, Helvetica, sans-serif;
}
.div-1{
  width:600px;
  height:350px;
  background-image:url("images/1.jpg");
  background-size:cover;
  margin-left:330px;
  margin-top:80px;
  background-repeat:no-repeat;
}
.g1{
  margin-left:450px;
  font-family: verdana;
  color: MediumSeaGreen;
}

.i1{
   background-image:url("images/1.jpg");
}


.i3{
   background-image:url("images/3.jpg");
}

.i4{
   background-image:url("images/4.jpg");
}

.i5{
   background-image:url("images/5.jpg");
}

.i6{
   background-image:url("images/6.jpg");
}

.i7{
   background-image:url("images/7.jpg");
}

.div-2{
  width:600px;
 
  margin-left:325px;
  margin-top:20px;
 
  text-align:center;

} 

.sp-1{
  width:10px;
  height:10px;
  border-radius:100%;
  background-color:MediumSeaGreen;
  display:inline-block;
  margin-left:5px;
  margin-right:5px;
  cursor:pointer;

}

.sp-1-click{
  border-style:solid;
  border-color:rgba(0, 0, 0, 0.74);
}

.nav li {
    display: inline-block;
}

.nav li a {
    color: #fff;
    padding: 10px;
    text-decoration: none;
}

header {
    
    padding: 30px 40px;
    height: 50px;
    background-color: #000000bf;
}


.logo {
    float: left;
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo img {
  margin-bottom:20px;
  height: 65px; 
}

.nav {
    float: right;
}

.nav li {
  line-height: 32px;
}

.subnav {
  position: absolute;
  padding-left: 0;
}

.subnav li {
  display: block;
  padding: 12px 14px;
  background-color: rgba(255, 255, 255, 0.1);
}

.nav li ul {
  display: none;
}

.nav li:hover ul {
  display: block;
}

.subnav2 {
  position: absolute;
  padding-left: 0;
}

.subnav2 li {
  display: block;
  padding: 12px 14px;
  background-color: rgba(255, 255, 255, 0.1);
}

.subnav3 {
  position: absolute;
  padding-left: 0;
}

.subnav3 li {
  display: block;
  padding: 12px 14px;
  background-color: rgba(255, 255, 255, 0.1);
}

.home{
  padding:15px;
}

.home .a{
   
}

.home h1{
  color:#D8E3E1;
  font-size:60px;
  font-weight:700;
  margin-left:60px;
  margin-top:70px;
}

.home h1 span{
  color:#119D84;
}

.home h2{
  color:#D8E3E1;
  font-size:60px;
  font-weight:700;
  margin-left:60px;
  margin-top:70px;
}

.home h2 span{
  color:#119D84;
}